@font-face {
  font-family: "Race";
  src: url('../../../RacingSansOne-Regular.ttf') format("truetype")
}
.reg {
  
  height: 100vh;
  overflow-x: hidden;
  background-color: wheat;
  padding: 20px;
  .row {
    
    
    .top{
      
      background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
      
      color: white;
      padding-top: 5%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      hr{width: 90%}
        h1{
          font-family: "Race";
        }
      .desc{
        margin: 15px 50px 15px 50px;
        padding: 0px 10% 0px 10%;
      }
    
      h2{
        padding: 20px;
      }

      .loginlink{
        padding: 10px;
        margin-top: 10px;
        color: white;
        cursor: pointer;
        text-decoration: none;
        background-color: gray;
        border: 1px solid black;
        border-radius: 20px;
        transition: .3s;
        &:hover{
          background-color: maroon;
          transition: .3s;
          border: 2px solid black;
        }
      }
    }
    .bottom {
      background-color: wheat;
      
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p{text-align: center;
        color: gray;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1rem;
        margin-bottom: 15px;
      
      
      }
      h2{font-family: "Race";}
      .right {
        display: flex;
        justify-content: center;
        align-items: center;

        form {
          flex-direction: column;
          display: flex;
          gap: 10px;
          width: 100%;
          align-items: center;
          justify-content: center;
          img {
            width: 100px;
            height: 100px;
            border-radius: 40%;
            object-fit: cover;
            align-self: center;
          }
          .formInput {
            font-size: 1rem;
            color: gray;
           width: 70%;

            input,
            select {
              box-sizing: border-box;
              width: 100%;
              height: 30px;
              font-size: .9rem;
              color: black;
              
              border: solid 1px rgba(100, 100, 100, 0.616);
              
            }.filedrop {
                border: none;
              }
            
          }
          button {
            align-self: center;
            padding: 10px;
            border: none;
            width: 90%;
            border-radius: 15px;
            font-size: 1.1rem;
            background-color: white;
            &:disabled {
              background-color: black;
            }
            &:hover{
                background-color: rgb(160, 0, 0);
                color: white;
                transition: .3s;
            }
          }
        }
      }
    }
  }
}
